{{- if .Values.nodeobserver.enabled }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: union-nodeobserver
  labels:
    {{- include "nodeobserver.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "nodeobserver.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        configChecksum: {{ include (print .Template.BasePath "/nodeobserver/configmap.yaml") . | sha256sum | trunc 63 | quote }}
        {{- with .Values.nodeobserver.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "global.podAnnotations" . | nindent 8 }}
      labels:
        {{ include "nodeobserver.podLabels" . | nindent 8 }}
    spec:
      priorityClassName: {{ .Values.operator.priorityClassName }}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nodeobserver.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.nodeobserver.podSecurityContext | nindent 8 }}
      volumes:
        - name: config-volume
          configMap:
            name: union-nodeobserver
      {{- with .Values.nodeobserver.additionalVolumes -}}
      {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      containers:
        - name: node-observer
          securityContext:
            {{- toYaml .Values.nodeobserver.securityContext | nindent 12 }}
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.union.pullPolicy }}
          terminationMessagePolicy: FallbackToLogsOnError
          resources:
            {{- toYaml .Values.nodeobserver.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /etc/union
              name: config-volume
          {{- with .Values.nodeobserver.additionalVolumeMounts -}}
          {{ tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
          env:
            {{- include "global.podEnvVars" . | nindent 10 }}
            {{- with .Values.nodeobserver.podEnv }}
            {{- toYaml . | nindent 10 }}
            {{- end }}
          args:
            - nodeobserver
            - --config
            - /etc/union/config.yaml
      {{- include "operator.scheduling" . | nindent 6 }}
      {{- include "additionalPodSpec" . | nindent 6 }}
{{- end }}
