{{- if .Values.nodeobserver.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "nodeobserver.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.low_privilege }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: union-nodeobserver
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["list"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.low_privilege }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
metadata:
  name: union-nodeobserver
subjects:
- kind: ServiceAccount
  name: {{ include "nodeobserver.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  {{- if .Values.low_privilege }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  apiGroup: rbac.authorization.k8s.io
  name: union-nodeobserver
{{- end }}
