apiVersion: v2
name: controlplane
description: Deploys the Union controlplane components to onboard a kubernetes cluster to the Union Cloud.
type: application
icon: https://i.ibb.co/JxfDQsL/Union-Symbol-yellow-2.png
version: 2025.11.2
appVersion: 2025.11.0
kubeVersion: '>= 1.28.0-0'
dependencies:
- name: flyte-core
  alias: flyte
  repository: https://helm.flyte.org
  version: v1.16.1
- name: ingress-nginx
  repository: https://kubernetes.github.io/ingress-nginx
  version: 4.12.3
  condition: ingress-nginx.enabled
- name: scylla-operator
  repository: https://scylla-operator-charts.storage.googleapis.com/stable
  version: v1.18.1
  condition: scylla.enabled
- name: scylla
  repository: https://scylla-operator-charts.storage.googleapis.com/stable
  version: v1.18.1
  condition: scylla.enabled
- name: postgresql
  repository: https://charts.bitnami.com/bitnami
  version: 16.5.4
  condition: postgresql.enabled
- name: minio
  repository: https://charts.bitnami.com/bitnami
  version: 17.0.21
  condition: minio.enabled
