{{- if (index .Values "controlplane" | default dict).enabled }}
{{- range $serviceKey, $serviceConfig := .Values.services }}
---
{{- $service := dict "config" $serviceConfig "key" $serviceKey "Release" $.Release "Values" $.Values "Chart" $.Chart}}
{{- if not $service.config.disabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "unionai.fullname" $service }}
  labels:
    {{- include "unionai.labels" $service | nindent 4 }}
spec:
  {{- $svc := include "unionai.service" $service | fromYaml }}
  {{- $shared := include "unionai.sharedService" $service | fromYaml }}
  type: {{ $svc.type | default "ClusterIP" }}
  ports:
    - name: grpc
      port: {{ $svc.grpcport | default 8080 }}
      protocol: TCP
      targetPort: {{ if $shared.connectPort }}connect{{ else }}grpc{{ end }}
    {{- if $svc.connectport }}
    - name: connect
      port:  {{ $svc.connectport }}
      protocol: TCP
      targetPort: connect
    {{- end }}
    - name: http
      port: {{ $svc.httpport | default 8089 }}
      protocol: TCP
      targetPort: http
    - name: debug
      port: {{ $svc.debugport | default 10254 }}
      protocol: TCP
      targetPort: debug
  selector:
    {{- include "unionai.selectorLabels" $service | nindent 4 }}

{{- end }}
{{- end }}
{{- end }}
