apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "union-operator.fullname" . }}
  labels:
    {{- include "operator.labels" . | nindent 4 }}
data:
  k8s.yaml: | {{ tpl (include "k8s.plugins" .) $ | nindent 4 }}
  config.yaml: |
    union:
    {{- with .Values.config.union.connection }}
      connection: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.union.auth }}
      auth: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
  {{- with .Values.config.sharedService }}
    sharedService: {{ tpl (toYaml .) $ | nindent 6 }}
  {{- end }}
  {{- with .Values.config.authorizer }}
    authorizer: {{ tpl (toYaml .) $ | nindent 6 }}
  {{- end }}
    operator:
      enabled: {{ .Values.config.operator.enabled }}
      enableTunnelService: {{ .Values.config.operator.enableTunnelService }}
      tunnel:
        enableDirectToAppIngress: {{ .Values.serving.enabled }}
    {{- with .Values.config.operator.apps }}
      apps: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.operator.syncClusterConfig }}
      syncClusterConfig: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.operator.clusterId }}
      clusterId: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
      {{- include "operator.clusterData" . | nindent 6 }}
    {{- with .Values.config.operator.collectUsages }}
      collectUsages: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.operator.computeResourceManager }}
      computeResourceManager: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.operator.dependenciesHeartbeat }}
      dependenciesHeartbeat: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
    {{- with .Values.config.operator.org }}
      org: {{ tpl (toYaml .) $ | nindent 8 }}
    {{- end }}
  {{- with .Values.config.proxy }}
    proxy: {{ tpl (toYaml .) $ | nindent 6 }}
  {{- end }}
  logger.yaml: |
{{- with .Values.config.logger }}
    logger: {{ tpl (toYaml .) $ | nindent 6 }}
{{- end }}
{{- with .Values.config.configOverrides }}
  config-overrides.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
  storage.yaml: | {{ tpl (include "storage" .) $ | nindent 4 }}
{{- if .Values.storage.fastRegistrationBucketName }}
  fast_registration_storage.yaml: | {{ tpl (include "fast-registration-storage" .) $ | nindent 4 }}
{{- end }}
