apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "union-operator.fullname" . }}-proxy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "proxy.labels" . | nindent 4 }}
spec:
  {{- if not .Values.proxy.autoscaling.enabled }}
  replicas: {{ .Values.proxy.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        configChecksum: {{ include (print .Template.BasePath "/operator/configmap.yaml") . | sha256sum | trunc 63 | quote }}
        {{- with .Values.proxy.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "global.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "proxy.podLabels" . | nindent 8 }}
    spec:
      volumes:
        - name: config-volume
          projected:
            sources:
            - configMap:
                name: {{ include "union-operator.fullname" . }}
            {{- if .Values.clusterresourcesync.enabled }}
            - configMap:
                name: flyte-clusterresourcesync-config
            {{- end }}
        {{- if .Values.secrets.admin.enable }}
        - name: secret-volume
          secret:
            secretName: {{ .Values.operator.secretName }}
        {{- end }}
      priorityClassName: {{ .Values.proxy.priorityClassName }}
      {{- with .Values.proxy.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "proxy.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.proxy.podSecurityContext | nindent 8 }}
      containers:
        - name: operator-proxy
          securityContext:
            {{- toYaml .Values.proxy.securityContext | nindent 12 }}
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.union.pullPolicy }}
          terminationMessagePolicy: FallbackToLogsOnError
          resources:
            {{- toYaml .Values.proxy.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /etc/union/config
              name: config-volume
            {{- if .Values.secrets.admin.enable }}
            - mountPath: /etc/union/secret
              name: secret-volume
            {{- end }}
          args:
            - operator
            - proxy
            - --config
            - /etc/union/config/*.yaml
          ports:
            - name: http
              containerPort: 8089
              protocol: TCP
            - name: connect
              containerPort: 8080
              protocol: TCP
            - name: grpc
              containerPort: 8081
              protocol: TCP
            - name: debug
              containerPort: 10254
              protocol: TCP
          env:
            {{- include "global.podEnvVars" . | nindent 10 }}
            {{- with .Values.proxy.podEnv }}
            {{- toYaml . | nindent 10 }}
            {{- end }}
        {{- if .Values.operator.enableTunnelService }}
        - name: "tunnel"
          securityContext:
              {{- toYaml .Values.operator.securityContext | nindent 12 }}
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.union.pullPolicy }}
          args:
            - cloudflared
            - tunnel
            - --no-autoupdate
            - run
            - --token
            - $(TUNNEL_TOKEN)
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.operator.secretName }}
                  key: tunnel_token
                  optional: true
        {{- end }}
      {{- include "proxy.scheduling" . | nindent 6 }}
      {{- include "additionalPodSpec" . | nindent 6 }}
