apiVersion: v1
kind: Service
metadata:
  name: {{ include "union-operator.fullname" . }}-proxy
  labels:
    platform.union.ai/prometheus-group: "union-services"
    {{- include "proxy.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
    - port: 10254
      targetPort: debug
      protocol: TCP
      name: debug
  selector:
    {{- include "proxy.selectorLabels" . | nindent 4 }}
