{{- define "control-plane-library.dataproxy-ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "flyte.name" . }}-dataproxy
  namespace: {{ template "flyte.namespace" . }}
  {{- with .Values.ingress.annotations }}
  annotations: {{ tpl (toYaml .) $ | nindent 4}}
  {{- end }}
  {{- with .Values.ingress.annotationsUnary }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- if .Values.ingress.enableProtectedConsoleIngress }}
  {{- with .Values.ingress.protectedIngressAnnotationsWithoutSignin }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- else }}
  {{- with .Values.ingress.protectedIngressAnnotations }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- end}}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . | quote }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end}}
  rules:
    - {{ with .Values.ingress.host -}}
      host: {{ tpl . $ }}
      {{ end -}}
      http:
        paths:
          - path: /data/*
            pathType: ImplementationSpecific
            backend:
              service:
                name: dataproxy
                port:
                  name: grpc
          - path: /data
            pathType: Prefix
            backend:
              service:
                name: dataproxy
                port:
                  name: grpc
{{- end }}
