# WARNING any service ingress you add here is accessible without authentication.
# Flyteadmin acts an auth server and is therefore publicly accessible.
{{- define "flyte.name" }}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{- define "grpcStreamingRoutes" -}}
- path: /flyteidl.service.WatchService/WatchExecutionStatusUpdates
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
{{- end }}

{{- define "grpcRoutes" -}}
# NOTE: Port 81 in flyteadmin is the GRPC server port for FlyteAdmin.
- path: /flyteidl.service.HealthService
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /flyteidl.service.HealthService/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /flyteidl.service.AuthMetadataService
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /flyteidl.service.AuthMetadataService/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /flyteidl2.auth.AuthMetadataService
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /flyteidl2.auth.AuthMetadataService/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /cloudidl.cloudadmin.CloudAdminService
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
- path: /cloudidl.cloudadmin.CloudAdminService/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: grpc
{{- end }}

{{- define "httpRoutes" -}}
# Port 87 in FlyteAdmin maps to the redoc container.
- path: /openapi
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: redoc
- path: /healthcheck
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /healthz
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /me
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
# Port 87 in FlyteAdmin maps to the redoc container.
- path: /openapi/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: redoc
- path: /.well-known
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /.well-known/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /login
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /login/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /logout
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /logout/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /callback
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /callback/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /config
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /config/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /oauth2
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /oauth2/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /auth
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /auth/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteadmin
      port:
        name: http
- path: /enqueue_metronome_request/v1
  pathType: ImplementationSpecific
  backend:
    service:
      name: usage
      port:
        name: http
- path: /enqueue_metronome_request/v1/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: usage
      port:
        name: http
- path: /enqueue_stripe_request/v1
  pathType: ImplementationSpecific
  backend:
    service:
      name: usage
      port:
        name: http
- path: /enqueue_stripe_request/v1/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: usage
      port:
        name: http
{{- end }}

{{- define "control-plane-library.unprotected-ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "flyte.name" . }}
  namespace: {{ template "flyte.namespace" . }}
  {{- with .Values.ingress.annotations }}
  annotations: {{ tpl (toYaml .) $ | nindent 4}}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . | quote }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  rules:
    - {{ with .Values.ingress.host -}}
      host: {{ tpl . $ }}
      {{ end -}}
      http:
        paths:
          {{- include "httpRoutes" $ | nindent 10 }}
---
# Certain ingress controllers like nginx cannot serve HTTP 1 and GRPC with a single ingress because GRPC can only
# enabled on the ingress object, not on backend services (GRPC annotation is set on the ingress, not on the services).
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "flyte.name" . }}-grpc
  namespace: {{ template "flyte.namespace" . }}
  {{- with .Values.ingress.annotations }}
  annotations:
  {{- tpl (toYaml .) $ | nindent 4}}
  {{- end }}
  {{- with .Values.ingress.annotationsUnary }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- with .Values.ingress.separateGrpcIngressAnnotations }}
  {{- toYaml . | nindent 4}}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . | quote }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  rules:
    - {{ with .Values.ingress.host -}}
      host: {{ tpl . $ }}
      {{ end -}}
      http:
        paths:
          {{- include "grpcRoutes" $ | nindent 10 }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "flyte.name" . }}-grpc-streaming
  namespace: {{ template "flyte.namespace" . }}
  {{- with .Values.ingress.annotations }}
  annotations:
  {{- tpl (toYaml .) $ | nindent 4}}
  {{- end }}
  {{- with .Values.ingress.annotationsStreaming }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- with .Values.ingress.separateGrpcIngressAnnotations }}
  {{- toYaml . | nindent 4}}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . | quote }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  rules:
    - {{ with .Values.ingress.host -}}
      host: {{ tpl . $ }}
      {{ end -}}
      http:
        paths:
          {{- include "grpcStreamingRoutes" $ | nindent 10 }}
{{- end }}
