{{- define "protectedDefaultBackend" }}
defaultBackend:
  service:
    name: flyteconsole
    port:
      name: http
{{- end}}

{{- define "protectedConsoleHttpRoutes" -}}
- path: /
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
# NOTE: If you change this, you must update the BASE_URL value in flyteconsole.yaml
- path: /console
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /console/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /dashboard
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /dashboard/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /resources
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /resources/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /cost
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /cost/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /loading
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /loading/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: flyteconsole
      port:
        name: http
- path: /v2
  pathType: ImplementationSpecific
  backend:
    service:
      name: {{ include "console.fullname" . }}
      port:
        name: http
- path: /v2/*
  pathType: ImplementationSpecific
  backend:
    service:
      name: {{ include "console.fullname" . }}
      port:
        name: http
{{- end }}


{{- define "control-plane-library.console-protected-ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "flyte.name" . }}-console-protected
  namespace: {{ template "flyte.namespace" . }}
  {{- with .Values.ingress.annotations }}
  annotations:{{ tpl (toYaml .) $ | nindent 4}}
  {{- end }}
  {{- with .Values.ingress.annotationsUnary }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
  {{- with .Values.ingress.protectedConsoleIngressAnnotations }}
  {{- toYaml . | nindent 4 }}
  {{- end}}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . | quote }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  rules:
    - {{ with .Values.ingress.host -}}
      host: {{ tpl . $ }}
      {{ end -}}
      http:
        paths: {{- include "protectedConsoleHttpRoutes" . | nindent 10 }}
{{- end}} # end of define control-plane-library.console-protected-ingress # end of if .Values.ingress.enableProtectedConsoleIngress
