---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: minio
    app.kubernetes.io/instance: union-sandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: minio
      app.kubernetes.io/instance: union-sandbox
  template:
    metadata:
      labels:
        app.kubernetes.io/name: minio
        app.kubernetes.io/instance: union-sandbox
    spec:
      containers:
        - image: {{ .Values.minio.image }}
          imagePullPolicy: {{ .Values.minio.imagePullPolicy }}
          name: minio
          command:
            - /bin/bash
            - -c
          args:
            - minio server /data --console-address :9001
          env:
            - name: MINIO_ACCESS_KEY
              value: {{ .Values.minio.accessKey }}
            - name: MINIO_SECRET_KEY
              value: {{ .Values.minio.secretKey }}
            - name: MINIO_DEFAULT_BUCKETS
              value: {{ .Values.minio.defaultBucket }}
          ports:
            - containerPort: 9000
              name: minio
            - containerPort: 9001
              name: minio-console
          {{- with .Values.minio.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.minio.volumeMounts }}
          volumeMounts: {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.minio.volumes }}
      volumes: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.minio.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.minio.affinity }}
      affinity: {{ toYaml | nindent 8 }}
      {{- end }}
      {{- with .Values.minio.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
