apiVersion: v2
name: dataplane
description: Deploys the Union dataplane components to onboard a kubernetes cluster to the Union Cloud.
type: application
icon: https://i.ibb.co/JxfDQsL/Union-Symbol-yellow-2.png
version: 2026.2.9
appVersion: 2026.2.8
kubeVersion: '>= 1.28.0-0'
dependencies:
# kube-prometheus-stack instance required to support Union features.
- name: kube-prometheus-stack
  repository: https://prometheus-community.github.io/helm-charts
  version: 80.8.0
  alias: prometheus
# Optional kube-prometheus-stack instance used for monitoring Union health.
- name: kube-prometheus-stack
  repository: https://prometheus-community.github.io/helm-charts
  version: 80.8.0
  alias: monitoring
  condition: monitoring.enabled
- name: metrics-server
  repository: https://kubernetes-sigs.github.io/metrics-server/
  version: 3.12.2
  condition: metrics-server.enabled
  alias: metrics-server
- name: knative-operator
  repository: https://unionai.github.io/helm-charts
  version: 2025.5.0
  alias: knative-operator
  condition: knative-operator.enabled
- name: fluent-bit
  version: 0.48.9
  repository: https://fluent.github.io/helm-charts
  condition: fluentbit.enabled
  alias: fluentbit
- name: opencost
  repository: https://opencost.github.io/opencost-helm-chart
  version: 1.42.0
  condition: opencost.enabled
- name: dcgm-exporter
  version: 4.7.1
  repository: https://nvidia.github.io/dcgm-exporter/helm-charts
  condition: dcgm-exporter.enabled
- name: ingress-nginx
  repository: https://kubernetes.github.io/ingress-nginx
  version: 4.12.3
  condition: ingress-nginx.enabled
