apiVersion: v2
name: dataplane
description: Deploys the Union dataplane components to onboard a kubernetes cluster to the Union Cloud.
type: application
icon: https://i.ibb.co/JxfDQsL/Union-Symbol-yellow-2.png
version: 2025.3.6
appVersion: 2025.3.1
kubeVersion: '>= 1.28.0-0'
dependencies:
- name: kube-prometheus-stack
  repository: https://prometheus-community.github.io/helm-charts
  version: 68.2.2
  alias: prometheus
- name: metrics-server
  repository: https://kubernetes-sigs.github.io/metrics-server/
  version: 3.12.2
  condition: metrics-server.enabled
  alias: metrics-server
- name: fluent-bit
  version: 0.48.9
  repository: https://fluent.github.io/helm-charts
  condition: fluentbit.enabled
  alias: fluentbit
