---
title: Dataplane chart
variants: -flyte -byoc +selfmanaged -serverless
weight: 1
---

{{ template "chart.description" . }}

## Chart info

| | |
|---|---|
| **Chart version** | {{ .Version }} |
| **App version** | {{ .AppVersion }} |
| **Kubernetes version** | `{{ .KubeVersion }}` |

{{ template "chart.requirementsSection" . }}
{{ template "chart.valuesSection" . }}
