{{- if .Values.flytepropellerwebhook.enabled }}
{{- if .Values.low_privilege }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: union-webhook-role
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - "*"
    resources:
      - mutatingwebhookconfigurations
      - secrets
      - pods
      - replicasets/finalizers
    verbs:
      - get
      - create
      - update
      - patch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: union-webhook-system
  namespace: {{ .Release.Namespace }}
  {{- with include "global.serviceAccountAnnotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- with .Values.flytepropellerwebhook.serviceAccount.imagePullSecrets }}
imagePullSecrets: {{ tpl (toYaml .) $ | nindent 2 }}
{{- end }}
---
# Create a binding from Role -> ServiceAccount
{{- if .Values.low_privilege }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: union-webhook-binding
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.low_privilege }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: union-webhook-role
subjects:
  - kind: ServiceAccount
    name: union-webhook-system
    namespace: {{ .Release.Namespace }}
{{- end }}
