{{- if .Values.flyte.cacheservice.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "cacheservice.name" . }}
  namespace: {{ template "flyte.namespace" . }}
  labels: {{ include "cacheservice.labels" . | nindent 4 }}
  {{- with .Values.flyte.cacheservice.service.annotations }}
  annotations: {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.flyte.cacheservice.service.type}}
  type: {{ . }}
  {{- end }}
  ports:
  - name: http
    port: 88
    protocol: TCP
    targetPort: http
  - name: grpc
    port: 89
    protocol: TCP
    targetPort: grpc
  - name: http-metrics
    protocol: TCP
    port: 10254
  {{- with .Values.flyte.cacheservice.service.additionalPorts -}}
  {{ tpl (toYaml .) $ | nindent 2 }}
  {{- end }}
  selector: {{ include "cacheservice.selectorLabels" . | nindent 4 }}
{{- end }}
