{{- if .Values.executor.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: executor
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "executor.labels" . | nindent 4 }}
data:
  {{- with .Values.executor.task_logs }}
  task_logs.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
  enabled_plugins.yaml: |
{{- if .Values.flyteconnector.enabled }}
{{ tpl (toYaml .Values.config.enabled_plugins) $ | indent 4 }}
{{- else }}
    tasks:
{{ tpl (toYaml .Values.config.enabled_plugins.tasks) $ | indent 6 }}
{{- end }}
  config.yaml: |
    {{- with .Values.executor.config }}
    executor:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.config.task_resource_defaults -}}
    {{ toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.executor.raw_config }}
    {{- tpl (toYaml .) $ | nindent 4 }}
    {{- end }}
    union:
      {{- with .Values.config.union.connection }}
      connection:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with .Values.config.union.auth }}
      auth:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
    {{- with .Values.config.admin.admin }}
    admin:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.config.authorizer }}
    authorizer:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with index .Values.config.catalog "catalog-cache" }}
    catalog-cache:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.config.logger }}
    logger:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.config.namespace_config -}}
    {{- tpl (toYaml .) $ | nindent 4 }}
    {{- end }}
    {{- with .Values.executor.sharedService }}
    sharedService:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.executor.propeller }}
    propeller:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
    {{- with .Values.executor.plugins }}
    plugins:
      {{- tpl (toYaml .) $ | nindent 6 }}
    {{- end }}
{{- $plugins := include "k8s.plugins" . | fromYaml }}
{{- $k8sConfig := $plugins.plugins.k8s | default dict }}
{{ tpl (toYaml $k8sConfig) $ | indent 8 }}
{{- with .Values.config.copilot.plugins.k8s }}
{{ tpl (toYaml .) $ | indent 8 }}
{{- end }}
    {{- tpl (include "storage" .) $ | nindent 4 }}
{{- end }}
