{{- if .Values.executor.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: executor
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "executor.labels" . | nindent 4 }}
  {{- with include "executor.serviceAccount.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}