{{- if .Values.executor.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: executor
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "executor.labels" . | nindent 4 }}
  {{- with include "executor.serviceAccount.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}

---
{{- if $.Capabilities.APIVersions.Has "rbac.authorization.k8s.io/v1" }}
apiVersion: rbac.authorization.k8s.io/v1
{{- else }}
apiVersion: rbac.authorization.k8s.io/v1beta1
{{- end }}
{{- if .Values.low_privilege }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ .Release.Namespace }}-executor
  labels:
    app: executor
rules:
# Allow RO access to PODS
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
# Allow Event recording access
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - update
  - delete
  - patch
# Allow Access All plugin objects
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch
# Allow Access to CRD
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - update

---
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.low_privilege }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
metadata:
  name: {{ .Release.Namespace }}-executor
  labels:
    app: executor
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.low_privilege }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ .Release.Namespace }}-executor
subjects:
- kind: ServiceAccount
  name: executor
  namespace: {{ .Release.Namespace }}
{{- end }}