{{ if .Values.executor.enabled }}
{{- if not .Values.flytepropeller.enabled }} # prevent duplicate from propeller
{{ if .Values.flytepropellerwebhook.enabled }}
# Create an empty secret that the first propeller pod will populate
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "flyte-pod-webhook.name" . }} #prevent name collision with flyte oss
  namespace: {{ .Release.Namespace }}
type: Opaque
---
# Create the actual deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "flyte-pod-webhook.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flytepropellerwebhook.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.flytepropellerwebhook.replicaCount }}
  selector:
    matchLabels:
      {{- include "flytepropellerwebhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "flytepropellerwebhook.podLabels" . | nindent 8 }}
      annotations:
        configChecksum: {{ include (print .Template.BasePath "/propeller/configmap.yaml") . | sha256sum | trunc 63 | quote }}
        {{- with .Values.flytepropellerwebhook.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "global.podAnnotations" . | nindent 8 }}
    spec:
      {{- with .Values.flytepropellerwebhook.securityContext }}
      securityContext:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      serviceAccountName: flytepropeller-webhook-system
      {{- if .Values.flytepropellerwebhook.priorityClassName }}
      priorityClassName: {{ .Values.flytepropellerwebhook.priorityClassName }}
      {{- end }}
      initContainers:
        - name: generate-secrets
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag | default .Chart.AppVersion }}"
          imagePullPolicy: "{{ .Values.image.union.pullPolicy }}"
          command:
            - flytepropeller
          args:
            - webhook
            - init-certs
            - --config
            - /etc/flyte/config/*.yaml
          env:
            {{- include "global.podEnvVars" . | nindent 10 }}
            {{- with .Values.flytepropellerwebhook.podEnv -}}
            {{- toYaml . | nindent 10 }}
            {{- end }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/flyte/config
          resources: {{- toYaml .Values.flytepropellerwebhook.resources | nindent 12 }}
      containers:
        - name: webhook
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag | default .Chart.AppVersion }}"
          imagePullPolicy: "{{ .Values.image.union.pullPolicy }}"
          command:
            - flytepropeller
          args:
            - webhook
            - --config
            - /etc/flyte/config/*.yaml
          env:
            {{- include "global.podEnvVars" . | nindent 10 }}
            {{- if .Values.flytepropellerwebhook.podEnv -}}
            {{- with .Values.flytepropellerwebhook.podEnv -}}
            {{- toYaml . | nindent 10 }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ .Values.flytepropellerwebhook.service.targetPort }}
            - containerPort: {{ index .Values.config.core.propeller "prof-port" }}
          {{- with .Values.flytepropellerwebhook.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/flyte/config
              readOnly: true
            - name: webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
          {{- with .Values.flytepropellerwebhook.additionalVolumeMounts -}}
          {{ tpl (toYaml .) $ | nindent 12 }}
          {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: flyte-propeller-config
        - name: webhook-certs
          secret:
            secretName: {{ template "flyte-pod-webhook.name" . }}
      {{- with .Values.flytepropellerwebhook.additionalVolumes -}}
      {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- include "flytepropellerwebhook.scheduling" . | nindent 6 }}
      {{- include "additionalPodSpec" . | nindent 6 }}
---

apiVersion: v1
kind: Service
metadata:
  name: {{ template "flyte-pod-webhook.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flytepropellerwebhook.labels" . | nindent 4 }}
  {{- with .Values.flytepropellerwebhook.service.annotations }}
  annotations:
    {{- tpl (toYaml .) $ | nindent 4 }}
  {{- end }}
spec:
  selector:
    {{- include "flytepropellerwebhook.selectorLabels" . | nindent 4 }}
  ports:
    - name: https
      protocol: TCP
      port: {{ .Values.flytepropellerwebhook.service.port }}
      targetPort: {{ .Values.flytepropellerwebhook.service.targetPort }}
    - name: debug
      protocol: TCP
      port: 10254
      targetPort: 10254

---
{{- if .Values.low_privilege }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Namespace }}-{{- template "flyte-pod-webhook.name" . }}
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - "*"
    resources:
      - mutatingwebhookconfigurations
      - secrets
      - pods
      - replicasets/finalizers
    verbs:
      - get
      - create
      - update
      - patch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "flyte-pod-webhook.name" . }}
  namespace: {{ .Release.Namespace }}
  {{- with include "global.serviceAccountAnnotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- with .Values.flytepropellerwebhook.serviceAccount.imagePullSecrets }}
imagePullSecrets: {{ tpl (toYaml .) $ | nindent 2 }}
{{- end }}
---
# Create a binding from Role -> ServiceAccount
{{- if .Values.low_privilege }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Namespace }}-{{- template "flyte-pod-webhook.name" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.low_privilege }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ .Release.Namespace }}-{{- template "flyte-pod-webhook.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "flyte-pod-webhook.name" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}
{{- end }}