minio:
  image: "quay.io/minio/minio:RELEASE.2025-01-20T14-49-07Z"
  imagePullPolicy: "IfNotPresent"
  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 10m
      memory: 128Mi
  accessKey: minio
  secretKey: miniostorage
  defaultBucket: union-dp-bucket
  volumes:
    - name: minio-storage
      emptyDir: { }
  volumeMounts:
    - name: minio-storage
      mountPath: /data