{{- if .Values.flytepropeller.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: flyte-propeller-config
  namespace: {{ .Release.Namespace }}
data:
{{- with .Values.config.admin }}
  admin.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- with .Values.config.catalog }}
  catalog.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- with .Values.config.catalog_cache }}
  catalog_cache.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- with .Values.config.copilot }}
  copilot.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- $core := deepCopy (.Values.config.core | default dict) }}
{{- if include "singleNamespace" $ }}
{{- $_ := set (index $core "propeller") "limit-namespace" .Release.Namespace }}
{{- end }}
{{- if .Values.low_privilege }}
{{- if not (hasKey $core "webhook") }}
{{- $_ := set $core "webhook" (dict "disableCreateMutatingWebhookConfig" true) }}
{{- else }}
{{- $_ := set (index $core "webhook") "disableCreateMutatingWebhookConfig" true }}
{{- end }}
{{- end }}
{{- with $core }}
  core.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- with .Values.config.enabled_plugins }}
  enabled_plugins.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
  k8s.yaml: | {{ tpl (include "k8s.plugins" .) $ | nindent 4 }}
{{- with .Values.config.logger }}
  logger.yaml: |
    logger:
      {{- tpl (toYaml .) $ | nindent 6 }}
{{- end }}
{{- with .Values.config.qubole }}
  qubole.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- if .Values.config.namespace_config }}
  namespace_config.yaml: | {{ tpl (toYaml .Values.config.namespace_config) $ | nindent 4 }}
{{- else if include "singleNamespace" . }}
  namespace_config.yaml: |
    namespace_mapping:
      template: {{ .Release.Namespace }}
{{- end }}
{{- with .Values.config.resource_manager }}
  resource_manager.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- if .Values.sparkoperator.enabled }}
{{- with .Values.sparkoperator.plugin_config }}
  spark.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- end }}
{{- if .Values.databricks.enabled }}
{{- with .Values.databricks.plugin_config }}
  databricks.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- end }}
{{- with .Values.config.task_logs }}
  task_logs.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- if .Values.flyteagent.enabled }}
{{- with .Values.flyteagent.plugin_config }}
  agent_service.yaml: | {{ tpl (toYaml .) $ | nindent 4 }}
{{- end }}
{{- end }}
  storage.yaml: | {{ tpl (include "storage" .) $ | nindent 4 }}
{{- end}}