apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: flytepropeller
  labels:
    {{- include "flytepropeller.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.flytepropeller.replicaCount }}
  selector:
    matchLabels:
      {{- include "flytepropeller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        configChecksum: {{ include (print .Template.BasePath "/propeller/configmap.yaml") . | sha256sum | trunc 63 | quote }}
        {{- with .Values.flytepropeller.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "global.podAnnotations" . | nindent 8 }}
      labels:
        {{ include "flytepropeller.podLabels" . | nindent 8 }}
    spec:
      {{- with .Values.flytepropeller.securityContext }}
      securityContext: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- if .Values.flytepropeller.priorityClassName }}
      priorityClassName: {{ .Values.flytepropeller.priorityClassName }}
      {{- end }}
      containers:
        - command:
            - flytepropeller
            - --config
            - {{ .Values.flytepropeller.configPath }}
        {{- with .Values.clusterName }}
            - --propeller.cluster-id
            - {{ tpl (toYaml .) $ }}
        {{- end -}}
        {{- with .Values.flytepropeller.extraArgs }}
        {{- tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
          env:
            {{- include "global.podEnvVars" . | nindent 10 }}
            {{- with .Values.flytepropeller.podEnv -}}
            {{- toYaml . | nindent 10 }}
            {{- end }}
          image: "{{ .Values.image.union.repository }}:{{ .Values.image.union.tag }}"
          imagePullPolicy: "{{ .Values.image.union.pullPolicy }}"
          name: flytepropeller
          ports:
            - containerPort: {{ index .Values.config.core.propeller "prof-port" }}
          resources: {{- toYaml .Values.flytepropeller.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/flyte/config
        {{- if .Values.secrets.admin.enabled }}
            - name: auth
              mountPath: /etc/union/secret
        {{- end }}
        {{- with .Values.flytepropeller.additionalVolumeMounts -}}
        {{ tpl (toYaml .) $ | nindent 8 }}
        {{- end }}
        {{- if .Values.flytepropeller.terminationMessagePolicy }}
          terminationMessagePolicy: "{{ .Values.flytepropeller.terminationMessagePolicy }}"
        {{- end }}
      {{- with .Values.flytepropeller.additionalContainers -}}
      {{- tpl (toYaml .) $ | nindent 6}}
      {{- end }}
      serviceAccountName: flytepropeller-system
      volumes:
        - configMap:
            name: flyte-propeller-config
          name: config-volume
      {{- if .Values.secrets.admin.enabled }}
        - name: auth
          secret:
            secretName: union-secret-auth
      {{- end }}
      {{- with .Values.flytepropeller.additionalVolumes -}}
      {{ tpl (toYaml .) $ | nindent 6 }}
      {{- end }}
      {{- include "flytepropeller.scheduling" . | nindent 6 }}
