{{- if .Values.flytepropeller.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: flytepropeller-system
  namespace: {{ .Release.Namespace }}
  {{- with include "flytepropeller.serviceAccount.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
{{- with .Values.flytepropeller.serviceAccount.imagePullSecrets }}
imagePullSecrets: {{ tpl (toYaml .) $ | nindent 2 }}
{{- end }}
{{- end }}
---
{{- if .Values.flytepropeller.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.low_privilege }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: flytepropeller-role
rules:
  # Allow RO access to PODS
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  # Allow Event recording access
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - update
      - delete
      - patch
  # Allow Access All plugin objects
  - apiGroups:
      - '*'
    resources:
      - '*'
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
      - patch
  # Allow Access to CRD
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
  # Allow Access to all resources under flyte.lyft.com
  - apiGroups:
      - flyte.lyft.com
    resources:
      - flyteworkflows
      - flyteworkflows/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
      - patch
      - post
      - deletecollection
{{- end }}
---
{{- if .Values.flytepropeller.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
{{- if .Values.low_privilege }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
metadata:
  name: flytepropeller-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.low_privilege }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: flytepropeller-role
subjects:
  - kind: ServiceAccount
    name: flytepropeller-system
    namespace: {{ .Release.Namespace }}
{{- end }}
