{{- if and .Values.flytepropeller.enabled .Values.flytepropeller.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Release.Namespace }}
  name: flytepropeller
  labels:
    {{- include "flytepropeller.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: debug
      protocol: TCP
      port: {{ index .Values.config.core.propeller "prof-port" }}
    {{- with .Values.flytepropeller.service.additionalPorts -}}
    {{ tpl (toYaml .) $ | nindent 4 }}
    {{- end }}
  selector:
    {{- include "flytepropeller.selectorLabels" . | nindent 4 }}
{{- end }}
